<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Colombia</string>
	<string>Venezuela</string>
	<string>Ecuador</string>
	<string>Brazil</string>
	<string>USA</string>
	<string>Alemania</string>
	<string>Japon</string>
	<string>Rusia</string>
	<string>Argentina</string>
	<string>Panama</string>
</array>
</plist>
